<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapGraph</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/map.css" rel="stylesheet">
  </head>

  <body>
    <div id="map" style="height:540px; width:960px"></div>

    <script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="static/app/index.js"></script>
  </body>

</html>

