{% extends '../base.html' %}

{% block title %}About Me{% end %}

{% block content %}
 <div class="container">
    <p style="text-align:center">
      <img src="static/me.jpg" alt="This is me" width=288 height=192 />
    </p>

    <p class="lead" style="text-align:center">About me</p>

    <p>
      My name is Jacob Van De Weert. I grew up in beautiful Ohio, but nowadays can be found prowling around lower Manhattan. In May of 2014 I graduated from Carnegie Mellon University with a double major in Computer Science and Cognitive Science, with a focus on learning in machines and humans. Currently I am a software engineer working on infrastructure at <a href="https://foursquare.com/about">Foursquare</a>. In addition to Foursquare, I also spent a summer as an intern at <a href="https://flutterapp.com">Flutter</a> working in computer vision.
    </p>

    <p style="text-align:center">
      You can follow me on <a href="https://twitter.com/jvandeweert">Twitter</a> and check out some of my side projects on <a href="https://github.com/jvandew">GitHub</a>.
    </p>
  </div> 
{% end %}

