{% extends '../base.html' %}

{% block title %}About Me{% end %}

{% block content %}
 <div class="container">
    <p style="text-align:center">
      <img src="static/me.jpg" alt="This is me" width=288 height=192 />
    </p>

    <p class="lead" style="text-align:center">About me</p>

    <p>
      My name is Jacob Van De Weert. For 9(!) years now I am an engineer at Foursquare, having spent time building developer tooling, infrastructure, the software platform, and the API, in the capacity of both IC and manager and now as tech lead for developer experience. I have been fortunate in my time to wear many hats and learn from many folks smarter and more talented than I am.
    </p>

    <p>
      Outside of work, I enjoy running, biking, and the outdoors to the extent possible in NYC, and finding new places to go. Currently I'm trying to learn enough Japanese to be semi-functional when traveling there next Spring. I don't watch a ton of TV or movies but do enjoy video games and would love to perhaps make one someday (although I try to avoid spending time coding outside of work).
    </p>

    <p>
      At some point I will maybe get around to writing some thoughts down to post here.
    </p>

    <p>
      I am not particularly active on social media these days, but you can follow me on <a href="https://twitter.com/jvandeweert">Twitter</a> (or better yet, <a href="https://mastodon.social/@jvandew">Mastodon</a>) and check out some of my past side projects on <a href="https://github.com/jvandew">GitHub</a>.
    </p>
  </div> 
{% end %}

